@charset 'Shift_JIS';
/**
 *  common.Modal.css
 *  common.Modal.jsに紐づいています
 */
/*--------------------------------------------------------------------------
   #modal-elements
---------------------------------------------------------------------------*/
#modal-elements
{
    display: none;
}

/*--------------------------------------------------------------------------
   .modal-bg
---------------------------------------------------------------------------*/
.modal-bg
{
    position: fixed;
    z-index: 5000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    min-width: 1200px;
    height: 100%;

    opacity: .94;
    background: #464646;
}

/*--------------------------------------------------------------------------
   .modal
---------------------------------------------------------------------------*/
.modal
{
    position: fixed;
    z-index: 50000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    min-width: 1200px;
    height: 100%;
}

.modal .modal-frame
{
    position: absolute;

    overflow: hidden;
    overflow-y: scroll;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 80px 0;

    text-align: center;
    letter-spacing: -.4em;
}

.modal .modal-frame:before
{
    display: inline-block;

    width: 0;
    height: 100%;

    content: '';
    vertical-align: middle;
}

.modal .modal-container
{
    display: inline-block;

    letter-spacing: 0;
}

.modal .modal-content
{
    position: relative;

    display: inline-block;

    text-align: left;
    vertical-align: middle;
}

/*--------------------------------------------------------------------------
   .modal-trigger-close
---------------------------------------------------------------------------*/
.modal-close-btn
{
    position: fixed;
    top: 40px;
    right: 40px;

    width: 33px;
    height: 33px;
}

.modal-close-btn .modal-trigger-close
{
    display: block;

    width: 100%;
    height: 100%;
}

.modal-close-btn .modal-trigger-close__line
{
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    width: 33px;
    height: 4px;
    margin: -3px 0 0 -17px;

    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;

    background: #fff;
}

.modal-close-btn .modal-trigger-close__line--01
{
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.modal-close-btn .modal-trigger-close__line--02
{
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

/*==========================================================================

   is-modal-open

===========================================================================*/
html.is-modal-open
{
    overflow-y: hidden;
}

.modal.is-modal-open
{
    display: block;
}

.modal-bg.is-modal-open
{
    display: block;
}
