@charset "utf-8";

/**
 *  common.Modal.css
 *  common.Modal.jsに紐づいています
 */

/*--------------------------------------------------------------------------
   #modal-elements
---------------------------------------------------------------------------*/

#modal-elements{
  display: none;
}


/*--------------------------------------------------------------------------
   .modal-bg
---------------------------------------------------------------------------*/

.modal-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 1200px; // 最小幅
  z-index: 5000;
  background: #464646;
  opacity: .94;
}


/*--------------------------------------------------------------------------
   .modal
---------------------------------------------------------------------------*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 1200px; // 最小幅
  z-index: 50000;

  .modal-frame {
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    padding: 80px 0; // 最低余白
    text-align: center;
    letter-spacing: -.4em;

    &:before{
      content: "";
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
    }
  }

  .modal-container {
    display: inline-block;
    letter-spacing: 0;
  }
  .modal-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }
}


/*--------------------------------------------------------------------------
   .modal-trigger-close
---------------------------------------------------------------------------*/
.modal-close-btn {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 33px;
  height: 33px;

  .modal-trigger-close {
    display: block;
    width: 100%;
    height: 100%;

    &__line {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 33px;
      height: 4px;
      margin: -3px 0 0 -17px;
      background: #fff;
      transform-origin: 50% 50%;


      &--01 {
        transform: rotate(-45deg);
      }
      &--02 {
        transform: rotate(45deg);
      }
    }
  }
}


/*==========================================================================

   is-modal-open

===========================================================================*/

html.is-modal-open {
  overflow-y: hidden;
}
.modal.is-modal-open{
  display: block;
}
.modal-bg.is-modal-open{
  display: block;
}

